.body {
    font-family: 'EB Garamond', serif;
    text-align: left;
    font-size: 100%;
    width: 60%;
    margin: auto;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

.date {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}