.profile > img {
    height: 200px;
}

.name {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

.subhead {
    font-family: 'EB Garamond', serif;
    font-size: 150%
}

.body {
    font-family: 'EB Garamond', serif;
    font-size: 100%
}