.profile > img {
    height: 200px;
}

.name {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: left;
    width: 50%;
    margin: auto;
}

.subhead {
    font-family: 'EB Garamond', serif;
    font-size: 175%;
    text-align: left;
    width: 50%;
    margin: auto;
}

.body {
    font-family: 'EB Garamond', serif;
    font-size: 125%;
    text-align: left;
    width: 50%;
    margin: auto;
}